<div class="d-flex justify-content-between thread-list">

    <div class=" d-flex flex-row mr-auto align-self-center" data-threadId="{{this.threadId}}">
        <div class="avatar mr-2">
            <a href="/viewuser/{{this.User.userId}}">
                {{#if this.User.avatar}}
                <img src="{{this.User.avatar}}">
                {{else}}
                <img src="/images/user-avatar.png">
                {{/if}}
            </a>
        </div>
        <div class="d-flex flex-column align-self-center">
            <div class="details-top">
                <div class="post-title">
                    <h2><a href="/viewthread/{{this.threadId}}">{{this.threadTitle}}</a></h2>
                </div>
                
            </div>
            <div class="details-middle d-inline-flex">
                <div class="post-author mr-1">Started by: 
                    <a href="/viewuser/{{this.User.userId}}">{{this.User.name}}</a>
                </div>
                <div class="p-rank rank-img {{this.User.branch}}-{{this.User.rank}} mr-2"></div>
                <div class="post-time mr-2">{{this.threadTime}}</div>
                <div class="post-cat mr-2">{{this.Category.categoryName}}</div>
            </div>
        </div>
    </div>
    <div class="d-flex align-self-center">
        <i class="far fa-comment-alt align-self-center mr-2"></i>
        <div class="reply-num mr-2">{{this.dataValues.postCount}}
        </div>
        <div class="subscribe">
            <button id="subscribed-button-{{this.threadId}}" class="subscribed" data-threadid="{{this.threadId}}">
                {{#if this.Subscriptions}}
                <i class="foo fas fa-star align-self-center"></i>
                {{else}}
                <i class="foo far fa-star align-self-center"></i>
                {{/if}}
            </button>
        </div>
    </div>
</div>
