<form action="/viewuser" method="POST">
        <div class="form-group">
            <label for="exampleFormControlInput1">Username</label>
            <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Username" value="{{user.name}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Branch</label>
            <select class="form-control" name="branch" id="branch" value="{{user.branch}}">
                <option value="unselected">Unselected</option>
                <option value="army">Army</option>
                <option value="navy">Navy</option>
                <option value="airforce">Air Force</option>
                <option value="marines">Marines</option>
                <option value="coastguard">Coast Guard</option>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Rank</label>
            <select class="form-control" name="rank" id="rank" value="{{user.rank}}">
                <option value="unselected">Unselected</option>
                <option value="E-1">E-1</option>
                <option value="E-2">E-2</option>
                <option value="E-3">E-3</option>
                <option value="E-4">E-4</option>
                <option value="E-5">E-5</option>
                <option value="E-6">E-6</option>
                <option value="E-7">E-7</option>
                <option value="E-8">E-8</option>
                <option value="E-9">E-9</option>
                <option value="WO1">WO1</option>
                <option value="CW2">CW2</option>
                <option value="CW3">CW3</option>
                <option value="CW4">CW4</option>
                <option value="CW5">CW5</option>
                <option value="O-1">O-1</option>
                <option value="O-2">O-2</option>
                <option value="O-3">O-3</option>
                <option value="O-4">O-4</option>
                <option value="O-5">O-5</option>
                <option value="O-6">O-6</option>
                <option value="O-7">O-7</option>
                <option value="O-8">O-8</option>
                <option value="O-9">O-9</option>
                <option value="O-10">O-10</option>
        <div class="form-group">
            <label for="exampleFormControlInput1">MOS</label>
            <input type="text" class="form-control" name="mos" id="mos" placeholder="MOS" value="{{user.mos}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Deployments</label>
            <input type="text" class="form-control" name="deployments" id="deployments" placeholder="Deployments" value="{{user.deployments}}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Bio</label>
            <input type="text" class="form-control" id="bio" placeholder="Tell us about your service" value="{{user.bio}}">
        </div>

        <button type="submit" class="btn btn-primary" id="submit-event">Submit</button>
    </form>

<script>
    /*!
 * Bootstrap 4 multi dropdown navbar ( https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-navbar/ )
 * Copyright 2017.
 * Licensed under the GPL license
 */


$( document ).ready( function () {
    $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
        var $el = $( this );
        var $parent = $( this ).offsetParent( ".dropdown-menu" );
        if ( !$( this ).next().hasClass( 'show' ) ) {
            $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
        }
        var $subMenu = $( this ).next( ".dropdown-menu" );
        $subMenu.toggleClass( 'show' );
        
        $( this ).parent( "li" ).toggleClass( 'show' );

        $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
            $( '.dropdown-menu .show' ).removeClass( "show" );
        } );
        
         if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
            $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
        }

        return false;
    } );
} );

/*//Copy this css*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}


Add CommentCollapse 


</script>
