<div class="d-flex flex-column w-100">
<div class="d-flex flex-row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/forum">Forum</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/viewcategory/{{thread.Category.categoryId}}">{{thread.Category.categoryName}}</a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">{{thread.threadTitle}}</li>
    </ol>
  </nav>
  <div class="ml-auto d-inline-flex">
  <div class="subscribe mr-2">
    <button id="subscribed-button-{{thread.threadId}}" class="subscribed" data-threadid="{{thread.threadId}}">
      {{#if thread.Subscriptions}}
      <i class="foo fas fa-star"></i>
      {{else}}
      <i class="foo far fa-star"></i>
      {{/if}}
    </button>
  </div>
  <form method="GET" action="/postform">
    <input type="hidden" name="thread_id" value="{{thread.threadId}}">
    <input type="submit" class="reply btn btn-primary ml-auto" value="Reply" />
  </form>
</div>
</div>
<div class="postbody">
  {{#each posts}} {{> post/post}} {{/each}}
</div>
</div>
  <script src="../js/threadlist.js" type="text/javascript"></script>