I HAVE LOGGED IN AND THIS IS WHAT I WILL SEE WHEN IT IS SUCCESSFUL.
{{log result}}
<a href="/viewcategory/1">View Forum Category</a>
Name: {{user.name}},
Branch: {{user.branch}},
Rank: {{user.rank}},
MOS: {{user.mos}},
Deployments: {{user.deployments}},
Bio: {{user.bio}}
<a href="/logout">Log out</a>