<link rel="stylesheet" href="../css/profilepage.css">
<div id="profileview">
    {{#if profile.coverImg}}
    <div class="cover" style="background-image: url({{profile.coverImg}});">
        {{else}}
        <div class="cover" style="background-image: url(/images/bkgd-home.jpg);">
            {{/if}}
            <div class="p-branch branch-img {{profile.branch}}"></div>
            <div class="cover-bkgd"></div>
        </div>

        <div class="d-flex text p-usermain">
            <div class="p-avatar">
                {{#if profile.avatar}}
                <img src="{{profile.avatar}}" alt="{{profile.name}}" /> {{else}}
                <img src="/images/user-avatar.png" alt="{{profile.name}}" /> {{/if}}
            </div>
            <div class="p-namegroup d-flex flex-column">
                <div class="p-namerank d-flex flex-row">
                    <h2 class="p-name">{{profile.name}}</h2>
                    <div class="p-rank rank-img {{profile.branch}}-{{profile.rank}}"></div>
                </div>
                <div class="p-timestamp d-flex">Joined: {{profile.createdAt}}</div>
            </div>
            <div class="p-buttons ml-auto">
                {{#if myProfile}}
                <a class="btn btn-secondary" href="/editprofile">
                    <i class="foo fas fa-user"> <span>Edit</span></i></a>
                {{else}}
                <div class="following">
                    <button class="btn btn-secondary followed" id="followed-button-{{profile.userId}}" data-userid="{{profile.userId}}">
                        {{#if profile.Followers}}
                        <i class="foo fas fa-user"> <span>Unfollow</span></i>{{else}}
                        <i class="foo far fa-user"> Follow</i>{{/if}}
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="d-flex bio">
            <div class="col-lg-9 col-xs-12 row-nopad-left">
                <div class="category-name">Bio</div>
                <div>{{profile.bio}}</div>
            </div>
            <div class="col-lg-3 col-xs-12 row-nopad-right">
                <h2>
                    <i class="fas fa-map-signs"></i> Last Deployment</h2>
                <div class="deployment">{{profile.deployment}}</div>
                <h2>
                    <i class="fas fa-briefcase"></i> Last MOS</h2>
                <div class="mos">{{profile.mos}}</div>
            </div>
        </div>

        <div></div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">Post History</a>
            </li>
            {{#if myProfile}}
            <li class="nav-item">
                <a class="nav-link" id="subscribed-tab" data-toggle="tab" href="#subscribed" role="tab" aria-controls="subscribed" aria-selected="false">Subscribed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="follow-tab" data-toggle="tab" href="#follow" role="tab" aria-controls="follow" aria-selected="false">Following</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="events-tab" data-toggle="tab" href="#myevents" role="tab" aria-controls="events" aria-selected="false">My Events</a>
        </li>
            {{/if}}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">
                {{#each posts}} {{> post/post}} {{/each}}
            </div>

            {{#if myProfile}}
            <div class="tab-pane fade" id="subscribed" role="tabpanel" aria-labelledby="subscribed-tab">
                {{#each subscriptions}} {{> thread/thread}} {{/each}}
            </div>

            <div class="tab-pane fade" id="follow" role="tabpanel" aria-labelledby="follow-tab">
                <ul>
                    {{#each followeds}}
                    <a href="/viewuser/{{this.userId}}">
                        <div class="p-avatar">
                            {{#if this.avatar}}
                            <img src="{{this.avatar}}" alt="{{this.name}}" /> {{else}}
                            <img src="/images/user-avatar.png" alt="{{this.name}}" /> {{/if}}
                        </div>
                        <div class="p-namegroup d-flex flex-column">
                            <div class="p-namerank d-flex flex-row">
                                <h2 class="p-name">{{this.name}}</h2>
                                <div class="p-rank rank-img {{this.branch}}-{{this.rank}}"></div>
                            </div>

                        </div>
                    </a>
                    {{/each}}
                </ul>
            </div>

            <div class="tab-pane fade" id="myevents" role="tabpanel" aria-labelledby="events-tab">
  
             {{#each userAttendEvents}}
      
<div class="d-flex justify-content-between thread-list">
      <div class=" d-flex flex-row mr-auto align-self-center">

    <div class=" d-flex flex-row mr-auto align-self-center">
       
        <div class="d-flex flex-column align-self-center">
            <div class="details-top">
                <div class="post-title">
                    <h1><a href="/events/{{./id}}">{{./eventName}}</a></h1>
                    <p>{{./eventDate}}</p>
                    <p>{{./startTime}} - {{./endTime}}</p>
                </div>
                
            </div>
            <div class="details-middle d-inline-flex">
                 {{#each EventCreator}}
                <div class="post-author mr-2">Started by: 
                    <a href="/viewuser/{{this.userId}}">{{this.name}}</a>
                </div>
                {{/each}}
                <div class="post-cat mr-2">Category: <a href="/events/sort/"{{./category}}>{{this.category}}</a></div>
            </div>
        </div>
    </div>
  
</div>

{{/each}}
          
        </div>
            {{/if}}
        </div>
    </div>

    <script src="../js/profilepage.js" type="text/javascript"></script>