<div class="search-results"><h3>Search for '{{searchQuery}}' returned {{numHits}} hits:</h3>

{{#each hits}}
    <div class="thread-details d-flex flex-row" data-threadId="{{this.threadId}}">
       

        <div class="d-flex flex-column">
            <div class="details-top">
                <div class="post-title">
                    <h2> <a href="/viewthread/{{this.threadId}}#post-{{this.postId}}">{{this.postTitle}}</a></h2>
                </div>
            </div>
            <div class="details-middle d-flex flex-inline mb-3">
                <div class="post-author mr-2">Posted by: 
                    <a href="/viewuser/{{this.userId}}">{{this.userName}}</a>
                </div>
                <div class="post-category mr-2">{{this.categoryName}}</div>
            </div>
            <div class="details-content">
                <div class="post-content">
                    {{{this._snippetResult.postContent.value}}}
                </div>
            </div>

        </div>
    </div>
{{/each}}

</div>
    
